/* Styles go here */

.page-header, .page-header-space {
    height: 10px;
  }

  .page-footer, .page-footer-space {
    height: 10px;

  }

  .page-footer {
    position: fixed;
    bottom: -20px;
    width: 100%;

  }

  .page-header {
    position: fixed;
    top: -70px;
    width: 100%;

  }



  @page {
    margin-top:30mm;
    margin-right:20mm;
    margin-bottom:20mm;
    margin-left:20mm;

  }

  @media print {
     thead {display: table-header-group;}
     tfoot {display: table-footer-group;}

     button {display: none;}

     body {margin: 0;}
  }
